ale-py==0.8.1
AutoROM==0.4.2
AutoROM.accept-rom-license==0.6.1
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
Farama-Notifications==0.0.4
gym==0.26.2
gym-notices==0.0.8
idna==3.6
importlib-resources==6.1.1
numpy==1.26.3
pygame==2.5.2
requests==2.31.0
tqdm==4.66.1
typing_extensions==4.9.0
urllib3==2.2.0
